

section.linha-fina.linha-fina-protocolos.linha-fina-home {
    padding: 56px 10px 20px;
}


.container {
    max-width: 1096px;
    padding: 0;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

section.linha-fina.linha-fina-protocolos.linha-fina-home p {
    max-width: 902px;
}

section.linha-fina p {
    font-size: 25px;
    font-size: 1.56rem;
    color: #3e3e3e;
    text-align: center;
    max-width: 1010px;
    margin: 0 auto;
}


p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 31px;
}

section.planosp {
    padding: 40px 0;
    background-color: #f2f2f2;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

.row.quadros-protocolos.quadros-home {
    margin-top: 0;
}

.row.quadros-protocolos {
    margin-top: 70px;
}

.quadro-prot {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 7.6px 0.4px rgb(0 0 0 / 30%);
    padding: 0;
    max-width: 360px;
    margin: 0 auto;
}

.titulo-quadro-prot.tit-quadro-home {
    font-size: 20px;
    font-size: 1.25rem;
}

.titulo-quadro-prot {
    background: #2d2d2d;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 25px 0;
    min-height: 83px;
}


.quadro-prot.quadro-home {
    max-width: 306px;
    margin: 0 auto;
    transition-duration: 0.5s;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.quadro-prot {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 7.6px 0.4px rgb(0 0 0 / 30%);
    padding: 0;
    max-width: 360px;
    margin: 0 auto;
}

.titulo-quadro-prot.tit-quadro-home {
    font-size: 20px;
    font-size: 1.25rem;
}

.titulo-quadro-prot {
    background: #2d2d2d;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 25px 0;
    min-height: 83px;
}

a.botao-quadro,
a.botao-quadro:hover {
    color: #fff;
}

a,
a:hover {
    color: #149dcc;
}

a,
a:hover {
    text-decoration: none;
}

a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.botao-quadro-protocolo.botao-quadro-home.botao-q-duaslinhas {
    padding: 9px 0px 9px 20px;
}

.botao-quadro-protocolo.botao-quadro-home {
    height: 62px;
    margin-bottom: -2px;
}

.botao-quadro-protocolo.botao-quadro-home:hover {
        color:#231f20;
}

.botao-quadro-protocolo {
    /* height: 62px; */
    padding: 16px 0;
    font-size: 19px;
    font-size: 1.2rem;
    background: url(https://www.saopaulo.sp.gov.br/guia-coronavirus/assets/images/botao-bg.png);
    background-position-x: right;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-left: 30px;
    border-bottom-left-radius: 4px;
}

.botao-quadro-protocolo {
    padding: 26px 0;
    font-size: 19px;
    font-size: 1.2rem;
}

.botao-quadro-protocolo.botao-quadro-home.botao-q-duaslinhas p {
    padding: 0;
    font-size: 18px !important;
    font-size: 1.13rem;
}

.botao-quadro-protocolo.botao-quadro-home p {
    text-align: center;
    width: 74%;
    line-height: 1.2;
}

.botao-quadro-protocolo p {
    text-align: center;
    width: 84%;
}

.quadro-num-home p.pnumeros-texto-home {
    font-size: 20px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #231f20;
    font-weight: 600;
    min-height: auto;
}


p.pnumeros-home.pnumeros-transp {
    font-size: 51px;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-top: 55px;
}

.quadro-num-home p.pnumeros-home {
    font-family: "Montserrat", sans-serif;
    color: #e6395f;
    min-height: auto;
    font-size: 39px;
    font-size: 2.45rem;
    font-weight: 700;
    line-height: 1.2;
}

p.dados-atualizados-home {
    min-height: auto;
    margin: 28px auto 0;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 500;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.num-quadro-home {
    padding: 30px 14px;
}



p.dados-atualizados-home {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px !important;
}
.texto-quadro-protocolo p {
    font-size: 16px;
    font-size: 1rem;
    color: #2b2b2b;
}